<div class="text-center fs-3">
  <strong>DBZ Main Page - </strong>
  <span>Ejer 02</span>
</div>
<hr>

<!-- si no aparece esto, aparece el valor por defecto del INPUT (TRUNKS)
[characterList]="characters" -->

<!-- (deleteCharacter)="dbzService.onDeleteCharacter($event)" -->
<div class="row">
  <div class="col">
    <dbz-list
      [characterList]="characters"
      (deleteCharacterById)="onDeleteCharacter($event)">
    </dbz-list>
  </div>
</div>

<div class="col">
  <dbz-add-character (onNewCharacter)="onNewCharacter($event)"></dbz-add-character>
</div>
